html {
    background-color: rgb(61,61,61);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    color: rgb(255,255,255);
}

#clockface-canvas {
    width: 45%;
}

#calendar-button {
    float: left;
}

#clockface-button {
    float: right;
    border: none;
    background-color: rgb(170,170,170);
    color: rgb(255,255,255);
    font-size: 24px;
    text-align: center;
    border-radius: 24px;
    width: 63px;
}

@media screen and (max-width: 900px) {
    #clockface-canvas {
        height: 400px;
        width: 60%;
    }
}